@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        font-family: fantasy;
        text-align: center;
        color: #3498db;
        font-size: 1600%;
        background: #2c3e50;
    }
</style>

<h2>Hello World!</h2>